<h2>Login</h2>

<%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn f -> %>
  <%= if f.errors != [] do %>
    <div class="alert alert-danger">
      <p>Please check the errors below:</p>
    </div>
  <% end %>

  <%= label f, :email %>
  <%= text_input f, :email %>
  <%= error_tag f, :email %>

  <%= label f, :password_hash %>
  <%= password_input f, :password%>
  <%= error_tag f, :password %>

  <%= checkbox f, :remember_me %>
  <%= label f, :remember_me %>
  &emsp;&emsp;
  <div>
    <%= submit "Login", class: "btn btn-primary"%>
  </div>
<% end %>

<span><%= link "Register", to: Routes.user_path(@conn, :new) %></span>
