<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :todo %>
  <%= text_input f, :todo %>
  <%= error_tag f, :todo %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
