<h1>Show Todo</h1>

<ul>

  <li>
    <strong>Todo:</strong>
    <%= @todo.todo %>
  </li>

</ul>
<ul>
<%= for items <- @todo.items do %>
  <li class="comment"><%= items.item %></li>
<% end %>
</ul>

<h3>Add a Item</h3>
<%= form_for @items, Routes.todo_item_path(@conn, :create, @todo), fn f -> %>
  <%= label f, :item %>
  <%= textarea f, :item %>
  <%= error_tag f, :item %>
  <div>
    <%= submit "Save" %>
  </div>
<% end %>


<span><%= link "Edit", to: Routes.todo_path(@conn, :edit, @todo) %></span>
<span><%= link "Back", to: Routes.todo_path(@conn, :index) %></span>
